extends ../layout/clientLayout.pug


block content
        .subbanner__business
            .subbanner_box
            .subbanner_txt 사업안내
            
        .besiness
            .besiness-head 국내 · 해외 봉사
            
            .besiness-top-img-box
                    .besiness-top-img
                        img(src="public/image/business/image1.png", alt="to image")
                    .besiness-top-img-text
                        |  국내 봉사는 저소득가정 아이들이 건강하고 
                        br
                        | 행복하게 자랄 수 있도록 생존, 보호, 발달, 참여
                        br
                        |  전반에 걸쳐 경제적, 정서적 지원을 합니다
           
            .besiness-middle-img-box 
                .besiness-middle-text
                        |  해외 봉사는 해외아동이 가난과 질병의 고통에서
                        br
                        | 벗어나 생애주기에 맞추어 건강하게 성장하고,
                        br
                        |  어른이 되면 자립할 수 있도록 돕습니다.
                .besiness-middle-img 
                    img(src="public/image/business/image2.png", alt="")
            .besiness-green-line  
            .besiness-bottom-text-title 
                p 대표산업
            .besiness-bottom-text
                p 캄보디아 5개교 학교 건축사업(My Good School)
            .besiness-bottom-last-text
                | "모든 아동이 교육의 기회에서 소외되지 않도록"
                br
                | 보편적 기본 교육 제공을 통해 당당한 사회 구성원으로 성장하는 아이들!
            .besiness-last-img
                img(src="public/image/business/image3.png", alt="")
                  

            
               
                   

            
  


            