extends ../layout/clientLayout.pug
 

block content
        .beiness
            .beiness-head 국내 · 해외 봉사
            
            .beiness-img-box
                    .beiness-img1 
                        img(src="public/image/business/image1.png", alt="to image")
                    .beiness-img1-atag
                        a 국내 봉사는 저소득가정 아이들이 건강하고 
                        br 
                        a 행복하게 자랄 수 있도록 생존, 보호, 발달, 참여
                        br
                        a 전반에 걸쳐 경제적, 정서적 지원을 합니다
            
               

       

            
            
               


            