extends ../layout/clientLayout.pug


block content
    section.custome
        section.customeTitle
            h3 공지사항

        section.customeContainer
            div.customeContainer__box
                p no.
                p 제목
                p 작성자 
                p 작성일
                p 최근수정일 
            each m in mContent 
                div.customeContainer__list
                    p #{m.id}
                    p #{m.title}
                    p 관리자
                    p #{m.createAt}
                    p #{m.updateAt}

        section.customePageNumber   
            p 1 
            p 2 
            p 3

    