extends ../layout/clientLayout.pug


block content

    section
        div.test Hellow kigkm!
        img(src="../../public/image/main/main1.png", alt="")

    section.customeTitle
        h3 공지사항
    
    section.customeContainer
        div.customeContainer__box
            p no.
            p 제목
            p 작성자 
            p 작성일
            p 최근수정일 
        div.customeContainer__list
            p 10 
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 9
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 8
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 7 
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 6
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 5
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 4
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 3 
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 2
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13
        div.customeContainer__list
            p 1
            p 제목
            p 관리자
            p 21.12.13 
            p 21.12.13


    section.customePageNumber   
        p 1 
        p 2 
        p 3

   
        
  


    
    
>>>>>>> 7ac9f23d6399f716827f151d22ce7f88bfb14566
