extends ../layout/clientLayout.pug

block content

    section.customeWriteContainer
        form
            div.customeWriteContainer__box
                div.customeWriteContainer__Title
                    span 제목
                    span 관리자
                    span 21.12.13

                input.customeWriteContainer__Maintext(type="textarea" placeholder="본문" id="customeWriteContainer__Maintext" required)

            input(type="submit" value="목록으로" id="customeWriteContainer__Btn")
                
        