extends ../layout/clientLayout.pug

block content 

    .subbanner__intro 
        .subbanner_box
        .subbanner_txt 회사소개
            
    section.introduce
        div.introduce__Title 
            h3 회사소개
        div.introduces__Introduce
            img.introduce__picture(src="../../public/image/business/image2.png")
            p.intriduce__Content 
               | 3leaf은 3명의 자원봉사자로 시작한 단체로 블라블라~
               br 
               |현재는 블라블라~
               br
               |회사의 목표는~~~

        div.introduceDonationList
            div.introduceDonationList__Title
                h3 전국 후원회 목록
            div.introduceDonationList__SponserPicture
                div 
                    img.introduceDonationList__picture(src="../../public/image/business/image4.png")
                div 
                    img.introduceDonationList__picture(src="../../public/image/business/image4.png")
                div
                    img.introduceDonationList__picture(src="../../public/image/business/image4.png")
                div
                    img.introduceDonationList__picture(src="../../public/image/business/image4.png")
                    
            div.introduceDonationList__Information
                div
                    p.introduceDonationList__Sponser 후원자
                    p.introduceDonationList__Name 최불암
                div
                    p.introduceDonationList__Sponser 후원자
                    p.introduceDonationList__Name 최불암
                div    
                    p.introduceDonationList__Sponser 후원자
                    p.introduceDonationList__Name 최불암
                div    
                    p.introduceDonationList__Sponser 후원자
                    p.introduceDonationList__Name 최불암       