extends ../layout/clientLayout.pug

block content 

    section.introduce__Title 
        h3 회사소개
        div.introduces__Introduce
            img.introduce__picture(src="../../public/image/business/image2.png")
            p.intriduce__Content 3leaf은 3명의 자원봉사자로 시작한 단체로 블라블라~현재는 블라블라~회사의 목표는~~~

    section.introduceDonationList__Title
        h3 전국 후원회 목록
        div.introduceDonationList__List 
            img.introduceDonationList__picture()
            p.introduceDonationList__Sponser 후원자
            p.introduceDonationList__Name 최불암
        div.introduceDonationList__List 
            img.introduceDonationList__picture()
            p.introduceDonationList__Sponser 후원자
            p.introduceDonationList__Name 최불암
        div.introduceDonationList__List 
            img.introduceDonationList__picture()
            p.introduceDonationList__Sponser 후원자
            p.introduceDonationList__Name 최불암
        div.introduceDonationList__List 
            img.introduceDonationList__picture()
            p.introduceDonationList__Sponser 후원자
            p.introduceDonationList__Name 최불암    