extends ../layout/clientLayout.pug

block content
    
    p.questions__title 자주묻는질문

    ul.questions__lists
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        li.questions__list.close
            div.questions__list__btn
                span Q
                span 자주묻는 질문을 적어주세요
            div.questions__list__answer
                span A
                span 자주묻는 질문의 답변을 적어주세요
                    br
                    | 답변의 길이에 따라 height 길이!
                    br
                    | 답변의
                    br
                    | ~
        
        
        
    
    script(src="/public/js/questions.js") 