extends ../layout/clientLayout.pug

block content
    div.support
        section.support_title
            p 국내·해외 후원
        
        section.support_donation
            div.support_donation_left
                p.support_donation_title 국내 · 해외 정기후원
                p.support_donation_content 매월 약정된 금액으로 후원하는 방법입니다.
                    br
                    | 후원금은 도움이 필요한 아이들을 위해
                    br
                    | 소중히 사용됩니다. 여러분의 도움으로 소외된
                    br
                    | 아이들이 밝고 건강하게 자라납니다.
                form.support_donation_form
                    input(type="submit" value="후원하기")  
            div.support_donation_right
                img.support_donation_right_img(src="../../public/image/donate/image1.png")

        section.support_use 
            div.support_use_line 
            p.support_use_title 후원금, 이렇게 사용됩니다.
            div.support_use_section
                div
                    img.support_use_section_img(src="../../public/image/donate/image2.png")
                    p.support_use_section_title 국내후원지원
                    p.support_use_section_content 저소득가정 아이들이 건강하고 행복하게
                        br
                        | 자랄 수 있도록 생존, 보호, 발달, 참여
                        br
                        | 전반에 걸쳐 경제적 정서적 지원을 합니다.
                div
                    img.support_use_section_img(src="../../public/image/donate/image2.png")
                    p.support_use_section_title 해외아동지원
                    p.support_use_section_content 해외아동이 가난괴 질병의 고통에서 벗어나
                        br
                        | 생애주기에 맞추어 건강하게 성장하고,
                        br
                        | 어른이 되면 자립할 수 있도록 돕습니다.
                div
                    img.support_use_section_img(src="../../public/image/donate/image2.png")
                    p.support_use_section_title 나눔 SOS
                    p.support_use_section_content 천재지변이나 각종 재해 등으로 긴급하게
                        br
                        | 지원이나 도움이 필요한 상황이 발생한
                        br
                        | 경우 신속하게 지원합니다.

