extends ../layout/clientLayout.pug
 

block content
    .subbanner 
        .box
        div 사업안내
            
    section.volunteer  
                .volunteer-head
                    a 자원봉사자 지원
                .volunteer-box
                    form(method="post" action="/volunteers")   
                        .volunteer-name
                            p 성함
                            input(type="text" name="name"  placeholder="홍길동" )
                        .volunteer-numder
                            p 연락처
                            input(type="text" name="mobile" placeholder="연락처")
                        .volunteer-title
                            p 제목
                            input(type="text" name="title" placeholder="제목")
                        .volunteer-main_text
                            p 본문
                            input(type="text " name="contents" placeholder="본문")
                        .volunteer-support_button
                            input(type="submit" value="지원하기")
                   
