doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="../../public/css/footer.css")
    body 
        footer
            .footer_content
                .text_footer
                    h1 (주)3LEAF
                    p 대표자명 : 000   대표번호 : 000-0000
                    p 주소 : 000000000000000000000000
                    p Email : 00000@gmail.com
                    div copyright 2021. 3leaf inc. all rights reserved. By 000
                .logo_footer
                    img(src="../../public/image/logo/logo.png", alt="logo_footer")