doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="../../public/css/header.css") 
    body 
        header 
            .logo 
                img(src="../../public/image/logo/logo.png", alt="logo")
            .menu__header
                .submenu_back
                .menu 
                    a(href="#") 회사소개
                .menu
                    a(href="#") 사업안내
                        .submenu__header                     
                            div
                                a(href="/besuiness") 국내 · 해외 봉사
                            div
                                a(href="#") 자원봉사자 지원
                .menu
                    a(href="#") 후원안내
                        .submenu__header
                            div
                                a(href="#") 국내 · 해외 사업
                            div
                                a(href="#") 후원하기
                .menu
                    a(href="#") 고객센터
                        .submenu__header
                            div
                                a(href="#") 공지사항
                            div
                                a(href="#") 자주묻는질문
                
                    