doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../public/css/header.css") 
    body 
        header
            .menu
                .logo 
                    a(href="/")
                        img(src="../../public/image/logo/logo.png", alt="logo")
                .menu__header
                    .nav
                        ul 
                            li
                                a(href="/introduce") 회사소개
                            li    
                                a(href="/besiness") 사업안내
                            li    
                                a(href="/support") 후원안내        
                            li    
                                a(href="/custome") 고객센터

                    .submenu
                        .submenu__nav              
                            ul
                                li
                                li
                                    a(href="/besiness") 국내 · 해외 봉사
                                    a(href="/volunteer") 자원봉사자 지원
                                li 
                                    a(href="/support") 국내 · 해외 사업
                                    a(href="/sponsor") 후원하기
                                li 
                                    a(href="/custome") 공지사항

                                    a(href="/questions") 자주묻는질문


