doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../public/css/header.css") 
    body 
        header
            .menu
                .logo 
                    img(src="../../public/image/logo/logo.png", alt="logo")
                .menu__header
                    .nav
                        a(href="#") 회사소개
                        a(href="#") 사업안내
                        a(href="#") 후원안내        
                        a(href="#") 고객센터

                    .submenu              
                        ul 
                            li
                                a(href="/besuiness") 국내 · 해외 봉사
                                a(href="#") 자원봉사자 지원
                            li 
                                a(href="#") 국내 · 해외 사업
                                a(href="#") 후원하기
                            li 
                                a(href="#") 공지사항

                                a(href="#") 자주묻는질문

                
                    