@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.custome {
  width: 1350px;
  height: 1070px;
  margin: 0 auto;
}

.customeTitle {
  padding-top: 70px;
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #55b569;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.customeContainer {
  width: 1000px;
  margin: 0 auto;
}

.customeContainer__box {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #9ad2a5;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
}

.customeContainer__box p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customeContainer__box p:nth-child(1) {
  width: 80px;
}

.customeContainer__box p:nth-child(2) {
  width: 500px;
}

.customeContainer__box p:nth-child(3) {
  width: 120px;
}

.customeContainer__box p:nth-child(4) {
  width: 150px;
}

.customeContainer__box p:nth-child(5) {
  width: 150px;
}

.customeContainer__list {
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: #242925;

  border-bottom: 1px solid #bfbfbf;
}

.customeContainer__list p:not(p:nth-child(2)) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customeContainer__list p:nth-child(1) {
  width: 80px;
}

.customeContainer__list p:nth-child(2) {
  width: 500px;
}

.customeContainer__list p:nth-child(3) {
  width: 120px;
}

.customeContainer__list p:nth-child(4) {
  width: 150px;
}

.customeContainer__list p:nth-child(5) {
  width: 150px;
}

.customePageNumber {
  margin: 0 auto;

  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}

.customePageNumber p:first-child {
  margin-top: 60px;
  margin-left: 642px;

  width: 24px;
}

.customePageNumber p:nth-child(2) {
  margin-top: 60px;
  width: 24px;
}

.customePageNumber p:nth-child(3) {
  margin-top: 60px;
  width: 24px;

  color: #55b569;
}

#customeContainer__Btn {
  margin-top: 0px;
  margin-left: 310px;
  width: 150px;
  height: 50px;
  font-weight: bold;

  background-color: #fff;
  color: #55b569;
  border: 1px solid #55b569;

  cursor: pointer;
}

#customeContainer__Btn:hover {
  color: #ffffff;
  background-color: #55b569;
  border: none;
}
