@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.subbanner__coms {
  width: 1920px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/image/subbanner/consulting.png');
  position: relative;
}

.customeWrite {
  width: 1350px;
  height: 670px;
  cursor: default;
  margin: 0 auto;
}

.customeWriteContainer {
  width: 1000px;
  margin-left: 175px;
}

.customeWriteContainer input:first-child {
  width: 100%;
  margin-top: 100px;
  height: 60px;
  font-size: 18px;
  background-color: #9ad2a5;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: left;
}

.customeWriteContainer input:first-child::placeholder {
  color: #fff;
}

#customeWriteContainer__Btn {
  margin: 0 auto;
  margin-top: 60px;
  width: 150px;
  height: 50px;
  font-weight: bold;

  background-color: #fff;
  color: #55b569;
  border: 1px solid #55b569;

  display: flex;
  justify-content: center;
}

#customeWriteContainer__Maintext {
  width: 1000px;
  height: 400px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  resize: none;
  outline: none;
  padding: 20px;
}

#customeWriteContainer__Maintext::placeholder {
  font-size: 16px;
}
