@import url(./reset.css);

header {
    width: 1350px;
    height: 80px;

    margin: 0 auto;
}

.logo {
    float: left;

}

.menu__header {
    
    float: right;
}

.menu {

}

.submenu {
    display: none;
}