@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}


.subbanner__intro {
  width: 1920px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../public/image/subbanner/company.png);
  position: relative;
}



.introduce {
  width: 1350px;
  height: 1296px;
  margin: 0 auto;

  margin-bottom: 100px;
  margin-top: 70px;
}

.introduce__Title {
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #55b569;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.introduces__Introduce {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.introduce__picture {
  width: 600px;
  height: 500px;
}

.intriduce__Content {
  margin: 0px;
  font-size: 24px;
  margin-right: 95px;
}

.introduceDonationList__Title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.introduceDonationList__SponserPicture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.introduceDonationList__Information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 245px;
  margin-top: 20px;
  font-size: 24px;
}

.introduceDonationList__Name {
  font-weight: bold;
  margin-top: 10px;
}
