@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+KR:wght@100;500&display=swap");
@import url(./reset.css);



.main-box-top{
    width: 1350px;
    margin:0 auto;
    cursor: default;

    font-family: 'Architects Daughter', 'Noto Sans Korean' ;
    font-family: 'Noto Sans KR', sans-serif;   

}

.main-box {
  display: flex;
  
}



.main-top_img{
    display: flex;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    width: 1920px;

}

.main-top_img-text-box{
    position: absolute;
    top: 250px;
    right: 270px;
   
}

.main-top_img-text{
    font-size: 46px;
    color: #9AD2A5;
    padding-bottom: 34px;
    
}

.main-top_img-middle_text{
    font-size: 18px;
    color: #fff;
    padding-bottom: 73px;
}


.main-top_img-support_button input {
    font-size: 20px;
    color: #fff;
    border: 2px solid #55B569;
    background-color: #55B569;
    cursor: pointer;
    margin-left: 280px;
}

.main-top_img-support_button input:hover{
    color: #55B569;
    border: 2px solid #55B569;
    background-color: black;
}
.main-middle_img-left {
    margin-right: 150px;
    z-index: 20;
}


.middle_img_left-hover_box:hover .hover_text, .middle_img_right-hover_box:hover .hover_text1 {
    opacity: 1;

}

.main-middle_img-left img:hover, .main-middle_img-right img:hover {
    filter: brightness(70%);
    transition: filter 1s;
    color: #fff;
}

.main-middle_img-left-text:hover .hover_text{
    opacity: 0;
}

.hover_text{
    position: absolute  ;
    top: 250px;
    left: 320px;
    color: #fff;
    font-size: 32px;
    opacity: 0;
}

.hover_text1{
    position: absolute  ;
    top: 250px;
    right: 250px;
    color: #fff;
    font-size: 32px;
    opacity: 0;
}

.main-middle_img_left-text, .main-middle_img_right-text{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 100px;
}

.main-mddie-img_left-text-head, .main-mddie-img_right-text-head {
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    color: #55B569;
    font-size: 26px;
} 

.main-last_img-box {
    display: flex;

}

.main-last_img-text{
    display: flex;   
}
.main-last_img {
    display: flex;
}
.main-last_support-button{
    display: flex;
}

.main-last_img-text-box{
    width: 570px;
    height: 360px;
    border: 2px solid #BFBFBF;
    
   
}

.main-last_img-text-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 54px;
    margin-bottom: 20px;
}

.main-last_img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.main-last_support-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-last_support-button input{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #55B569;
    background-color: #55B569;
    cursor: pointer;
}

.main-last_support-button input:hover{
    color: #55B569;
    border: 2px solid #55B569;
    background-color: #fff;
}


.main-height{
    height: 2190px;
}

